*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    height: 100vh;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border: 1px solid white;
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 2fr 2fr 1fr ;
    gap: 8px;
    padding: 8px;
}
.Box{
    background-color: rgb(37, 227, 110);
}
.Header{
    /* grid-column: 1/4; */
    grid-column-start: 1;
    grid-column-end: 4;
}
.SideBar{
    /* grid-row:2/4; */
    grid-row-start: 2;
    grid-row-end: 4;
}
.Content1{
    grid-column-start: 2;
    grid-column-end: 4;
}
.Footer{
    grid-column: 1/4;
}

